h1{
    color: rgb(201, 18, 214);
    font-family:sans-serif;
}
h3{
    color: orange;

}
a:visited {
    color: blue;   
    text-decoration: none;
}





ul{
    margin-left: 45%;
    margin-right:45%;
      
}
button{
    margin-left: 45%;
    margin-right:45%;
    
}
a{
    color: aliceblue;
}
